/*
-----------------------------
      #### HEADER ####
-----------------------------
*/
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    align-items: center;
    justify-content: end;
    background-color: #fff;
    padding: 4rem;
}

header img{
    grid-column: 1 / 2;
}

header nav{
    grid-column: 2 / -1; 
    display: inline-block;
    text-align: right;
}

nav ul{
    list-style: none;
}

ul li{
    display: inline;

}

li a{
    text-decoration: none;
    text-transform: none;
    color: #000;
    padding: 0.5rem;
}

a:hover{
    background-color: #000;
    color: white;
    border-style: none;
    border-radius: 0.25rem;
}
