/*
----------------------------------------------
#### MAIN-EDUCATIONAL-BACKGROUND ARTICLE ####
----------------------------------------------
*/
.educational-background{   
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(1, 4fr);
    background-color: #252323
 }

.educational-background .subtitle{
    grid-column: 1 / 1;
    grid-row: 1 / 5;
    font-size: 5.5rem;
    color: #000;
    line-break: anywhere;
}

.educational-background .educational-intro{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    padding: 1rem 4.5rem;
    max-width: 40rem;
    line-height: 1.65rem;
    color: #7d7b7b
}

.educational-intro strong{
    color: #fff;
}

.educational-background .graduations{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    padding: 4rem 4.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.graduations .graduation-item{
    background-color: #000;    
    padding: 1rem;
    margin: 1rem;
    height: 10rem;
    width: 8rem;
}    

.graduation-item .graduation-title{
    color: #7d7b7b;
    font-size: 0.75rem;    
    border-left: solid 3px #13f01b;
    padding-left: 0.5rem;
}

.graduation-item .graduation-name{
    color: #fff;
    font-size: 0.75rem;
    font-weight: normal;
    padding-top: 0.75rem;
    padding-bottom: 4rem;
}

.graduation-item:nth-child(2) .graduation-name{
    word-spacing: 2rem;
}

.graduation-name::after{
    border-right: solid 3px #13f01b;
}


.graduation-item .graduation-university{
    color: #4e4d4d;
    font-size: 0.75rem;
}

.educational-background .courses{
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    padding: 1rem 4.5rem;
    color: #fff;
}

.courses h3{
    color: #4e4d4d;
    font-size: 0.75rem;
    padding: 0.25rem;
    
}

.courses ul li ul{
    padding: 0.50rem;
}

.courses ul li ul li:nth-child(2){
    color: #4e4d4d;
}